{% extends 'base.html' %}

{% block title %}
    Food Form
{% endblock title %}
    
{% block body %}
{% load static %}
<div class="container">
    <div class="row">
        <h1 class="text-info">Food Form</h1>
    </div>
    <!-- <div class="row">
            <div class="col">
                <h2>form as table</h2>
               <table>
                {{foodform.as_table}}
               </table>
            </div>
        </div>
        <div class="row">
            <h2>form as paragrapha</h2>
            <div class="col">
                {{foodform.as_p}}
            </div>
        </div>
        <div class="row">
            <h2>form as List</h2>
            <div class="col">
                {{foodform.as_ul}}
            </div>
        </div>
    -->
    <div class="row">
        <div class="col">
            <img src="{% static 'img/food.jpg'%}" class="img-fluid h-100" alt="">
        </div>
        <div class="col ">
            <div class="foodform">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    <table class="table table-borderless">
                        {{form}}
                        <tr>
                            <td colspan="2" align="right">
                                <input class="btn btn-success" type="submit" value="Save">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}